<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome to our wonderful GA Cult</h1>
    <h3>Below are our top members</h3>
    <ul>
        <% cohort.forEach(function(obj) { %>
           <li>
            <%= obj.student %>
           </li>    
        <% }) %>
    </ul>
</body>
</html>